*{
	box-sizing: border-box;
}

body{
	padding-top: 0px;
	background-color: #e0f7fa;
}

/* header */
#header{
	position: relative;
	height: auto;
	background-color: #333333;
	padding: 8px;
	padding-left: 15px;
	box-shadow: 0px 0px 10px 0px #777777;
}
#header h1{
	margin: 0px;
	font-size: 28px;
	color: #bbbbbb;
}

/* page content */
#content{
	margin-top: 0px;
}
#content-main{
	width: 70%;
	float: left;
}
#content-other{
	width: 30%;
	float: left;
}
@media only screen and (max-width: 767px){
	#content-main{
		width: 100%;
	}
	#content-other{
		display: none;
	}
}

/* content-main */
#top, #skillset, #work-history, #projects{
	background-color: #ffffff;
	margin: 20px;
	padding: 15px;
	box-shadow: 0px 2px 4px 0px #a7a7a7;
	border: 1px solid #d7d7d7;
}

/* Top */
#top > div{
	padding-top: 30px;
	padding-bottom: 20px;
}

#tabs{
	padding-left: 20px;
}
#tabs button{
	background-color: white;
	position: relative;
	top: 1px;
	margin: 0 1px;
	padding: 4px;
	font-size: 16px;
	border: 1px solid #d7d7d7;
	outline: none;
}
#tabs button.active{
	border-bottom: 1px solid #ffffff;
}

/* skillset */
#skillset{
	margin-top: 0px;
	padding-bottom: 25px;

	text-align: center;
}

#skillset  h4 {
	display: inline-block;
	width: 200px;
	margin: 3px;
	border-bottom: 1px solid #000000;
	text-align: left;
}
.skill-list{
	display: inline-block;
	list-style-type: none;
	margin: 0 auto;
	padding-left: 10px;
	width: 200px;

	white-space: nowrap;
}
.skill{
	padding: 4px 0px;
	text-align: left;
}
.skill + .skill{
	border-top: 1px solid #ccc;
	max-width: 200px;
}

/* work-history */
#work-history{
	margin-top: 0px;
	display: none;
}
#work-history h4{
	margin-bottom: 0px;
	font-weight: bold;
}
#work-history > div + div{
	margin-top: 30px;
}

/* projects */
#projects{
	margin-top: 0px;
	display: none;
}
#projects img{
	border: 1px solid black;
	margin: 0 auto;
}
#projects img.placeholder{
	border: none;
}
#projects p{
	text-align: left;
	font-size: 15px;
}
#projects a{
	display: inline-block;
	text-decoration: none;
	background-color: #30aeef;
	color: #ffffff;
	padding: 4px;
	border: 2px solid #30aeef;
	border-radius: 5px;
	box-sizing: border-box;
}
#projects a:hover{
	background-color: #ffffff;
	color: #30aeef;
}


/* content-other */
#education, #accomplishments, #activities{
	background-color: #ffffff;
	margin: 20px 20px 20px 0px;
	padding: 10px;
	box-shadow: 0px 2px 4px 0px #a7a7a7;
}

/* education */
#education h3{
	padding: 5px;
}
#education ul{
	list-style-type: none;
	padding-left: 0px;
}
#education ul li{
	padding: 5px;
}
#education ul li + li{
	border-top: 1px solid #777777;
}
#education .school{
	font-size: 12px;
	font-weight: bold;
}
#education .school ~ div{
	font-size: 10px;
}

/* accomlishments */
#accomplishments h3{
	padding: 5px;
}
#accomplishments ul{
	padding-left: 0px;
	list-style-type: none;
	font-size: 12px;
}
#accomplishments ul li{
	padding: 5px;
}
#accomplishments ul li + li{
	border-top: 1px solid #777777;
}

/* activities */
#activities h3{
	padding: 5px;
}
#activities ul{
	padding-left: 0px;
	list-style-type: none;
	font-size: 10px;
}
#activities ul li{
	padding: 5px;
}
#activities ul li + li{
	border-top: 1px solid #777777;
}

/* footer */
footer{
	background-color: #555555;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer a{
	border: 1px solid #555555;
	color: #bbbbbb;
	background-color: #555555;
	margin: 5px;
}
footer a:visited{
	color: #bbbbbb;
}
footer a:hover{
	color: #ffffff;
	text-decoration: none;
}

footer .social{
	width: 40px;
	height: 40px;
	font-size: 25px;
	border-radius: 50%;
}
footer .resume{
	font-size: 15px;
	border-radius: 12px;
}
