body{
	background-color: #99ccff;
}

/* nav */
#navigation{
	position: fixed;width: 100%;
	z-index: 1;
	background-color: black;
}
#navigation > ul{
	text-align: right;
}
#navigation > ul li{
	display: inline-block;
	color: white;
	text-align: center;
	font-size: 24px;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* nav links */
#navigation > ul li a{
	text-decoration: none;
	color: #dddddd;
}
#navigation > ul li a:hover{
	color: #aaaaaa;
}

/* page content */
#top{
	background-color: #ffffff;
	border-radius: 10px 10px 0px 0px;
	padding: 15px;
}
#skillset{
	background-color: #dddddd;
	padding: 15px;
}
#portfolio{
	background-color: #ffffff;
	padding: 15px;
}

footer{
	background-color: #555555;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer button{
	width: 50px;
	height: 50px;
	font-size: 25px;
	border-style: solid;
	border-radius: 50%;
	border-color: #ffffff;
	color: #ffffff;
	background-color: #555555;
}
footer button:hover{
	color: #555555;
	background-color: #ffffff;
}

#portfolio img{
	border: 1px solid black;
	border-radius: 10px;
}
#portfolio a{
	display: inline-block;
	text-decoration: none;
	background-color: #33bb22;
	color: #dddddd;
	padding: 5px;
	border-radius: 5px;
}
#portfolio a:hover{
	color: #aaaaaa;
};

@media screen and (max-width: 991px){
	#skillset p{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.level-alt{
		font-weight: bold;
	}
}


@media screen and (min-width: 992px){
	#skillset p{
		text-align: right;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.level-alt{
		display: none;
	}

	.level{
		width: 100%;
		height: 20px;
		background-color: white;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#s-1, #s-2, #s-3, #s-4, #s-5, #s-6, #s-7, #s-8, #s-9, #s-10, #s-11, #s-12{
		background-color: #00dd00;
		height: 20px;
	}
	#s-1{
		width: 85%;	
	}
	#s-2{
		width: 85%;
	}
	#s-3{
		width: 55%;
	}
	#s-4{
		width: 85%;
	}
	#s-5{
		width: 75%;
	}
	#s-6{
		width: 75%;
	}
	#s-7{
		width: 75%;
	}
	#s-8{
		width: 35%;
	}
	#s-9{
		width: 50%;
	}
	#s-10{
		width: 65%;
	}
	#s-11{
		width: 55%;
	}
}