body{
	background-color: #99ccff;
}

/* navigation */
#navigation{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 1;
	background-color: black;
	box-shadow: 0px 0px 5px 2px #777777;
}
#navigation > ul{
	text-align: right;
	height: 100%;
}
#navigation > ul li{
	display: inline-block;
	color: #dddddd;
	text-align: center;
	font-size: 15px;
	width: 70px;
}
#navigation > ul li:hover{
	background-color: #333333;
	cursor: pointer;
}


/* nav links */
#navigation > ul a{
	display: block;
	text-decoration: none;
	color: #dddddd;
	line-height: 40px;
}

/* page content */
#content{
	margin-top: 40px;
}
#content-main{
	width: 70%;
	float: left;
}
#content-other{
	width: 30%;
	float: left;
}
@media only screen and (max-width: 767px){
	#content-main{
		width: 100%;
	}
	#content-other{
		display: none;
	}
}


/* content-other */
#education, #accomplishments, #activities{
	background-color: #ffffff;
	margin: 20px 20px 20px 0px;
	padding: 10px;
	border-radius: 10px;
}

/* education */
#education h3{
	padding: 5px;
}
#education ul{
	list-style-type: none;
	padding-left: 0px;
}
#education ul li{
	padding: 5px;
}
#education ul li + li{
	border-top: 1px solid #777777;
}
#education .school{
	font-size: 12px;
	font-weight: bold;
}
#education .school ~ div{
	font-size: 10px;
}

/* accomlishments */
#accomplishments h3{
	padding: 5px;
}
#accomplishments ul{
	padding-left: 0px;
	list-style-type: none;
	font-size: 12px;
}
#accomplishments ul li{
	padding: 5px;
}
#accomplishments ul li + li{
	border-top: 1px solid #777777;
}

/* activities */
#activities h3{
	padding: 5px;
}
#activities ul{
	padding-left: 0px;
	list-style-type: none;
	font-size: 10px;
}
#activities ul li{
	padding: 5px;
}
#activities ul li + li{
	border-top: 1px solid #777777;
}


/* content-main */
#top, #skillset, #portfolio{
	background-color: #ffffff;
	margin: 20px;
	padding: 15px;
	border-radius: 10px;
}

/* Top */
#top > div{
	padding-top: 30px;
	padding-bottom: 20px;
}

/* skillset */
#skillset p{
	text-align: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

.skill{
	width: 100%;
	height: 25px;
	background-color: #eeeeee;
	border-radius: 10px;
	margin-top: 15px;
}
.skill div{
	height: 100%;
	background-color: #55dd55;
	border: 3px solid #dddddd;
	border-radius: 10px;

	color: #ffffff;
	text-align: right;
	padding-right: 5px;
}

#htmlcss{
	width: 90%;
}
#javascript{
	width: 90%;
}
#bootstrap{
	width: 80%;
}
#sass{
	width: 65%;
}
#jquery{
	width: 75%;
}
#angularjs{
	width: 70%;
}
#reactjs{
	width: 75%;
}
#node-express{
	width: 70%;
}
#php-laravel{
	width: 20%;
}
#postgres{
	width: 55%;
}
#mongodb{
	width: 45%;
}
#mysql{
	width: 30%;
}

/* portfolio */
#portfolio img{
	border: 1px solid black;
	border-radius: 10px;
	margin: 0 auto;
}
#portfolio p{
	text-align: left;
	font-size: 15px;
}
#portfolio a{
	display: inline-block;
	text-decoration: none;
	background-color: #33bb22;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px;
}
#portfolio a:hover{
	color: #cccccc;
}

/* footer */
footer{
	background-color: #555555;
	padding-top: 10px;
	padding-bottom: 10px;
}
footer button{
	border: 1px solid #555555;
	color: #bbbbbb;
	background-color: #555555;
}
footer button:hover{
	color: #ffffff;
}

footer .social{
	width: 40px;
	height: 40px;
	font-size: 25px;
	border-radius: 50%;
}
footer .resume{
	font-size: 15px;
	border-radius: 12px;
}
